*{
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo{
    margin-left: 10px;
    padding-top: 10px;
    width: 6%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.textarea{
    border: none;
    color: #0a3871;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder{
    color: #0a3871;
}   .textarea:focus{
    outline: none;
}


.mensagem{
    background: white;
    /* background-image: url(pessoa-lupa.svg); */
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0a3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.mensagem:focus{
    outline: none;
}

.botoes{
    display: flex;
    margin-top: 18px;
}

.btn-criptografar{
    background-color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-descriptografar{
    background: #D8DFE8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color:#0a3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;

}

.campo-branco{

}
.copiar{
    background: #D8DFE8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    width: 336px;
    margin-left: 108px;
    margin-top: 378px; /*inicial: 402px*/
    position: absolute;
}

.informacao h6{
    color: #495057;
    font-size: 13px;
}

.copyright{
    color: #495057;
    font-size: 13px;
    padding-left:5px;
    
}